In [ ]:
N = 6
arr = [3,0,0,2,0,4]
arr.sort(reverse=True)
sum = 0
print(arr)
for i in range(1,N):
  val = arr[1]-arr[i]
  sum = sum+val
print(sum)

[4, 3, 2, 0, 0, 0]
10

In [ ]:
A = int(input())
arr = [int(x) for x in input().split()]
print(arr)
# arr = [int(i) for i in str(N)]
arr.sort(reverse=True)
sum = 0
print(arr)
for i in range(1,A):
  val = arr[1]-arr[i]
  sum = sum+val
print(sum)

3
6 9 9
[6, 9, 9]
[9, 9, 6]
3

In [ ]:
class Solution(object):
   def trap(self, height):
      stack = []
      water = 0
      i=0
      while i<len(height):
         if len(stack) == 0 or height[stack[-1]]>=height[i]:
            stack.append(i)
            i+=1
         else:
            x = stack[-1]
            stack.pop()
            if len(stack) != 0:
               temp = min(height[stack[-1]],height[i])
               dist = i - stack[-1]-1
               water += dist*(temp - height[x])
      return water
ob = Solution()
print(ob.trap([6,9,9]))

0

You are given an array of non-negative integers representing height of walls at index i as Ai and the width of each block is 1. Compute how much air can be encapsulated between the walls of chamber.

 

Input Description:
Each line contains an integer ‘N’ denoting the size of the array Next line contains N space separated numbers to be stored in array.

Output Description:
Output the total unit of Air encapsulated between the walls of chamber.

In [ ]:
A = int(input())
arr = list(map(int, input().split()))
low = arr[0]
sum = 0
if arr[A-1]<low:
    low = arr[A-1]
for i in arr[1:A-1]:
    if i<low:
        sum += low - i
print(sum)

3
6 9 9
0

You are given with two arrays. Your task is to merge the array such that first array is in ascending order and second one in descending order.

Input Description:
First line contains two integer ‘n’ and ‘m’. ‘n’ denotes length of array 1 and ‘m’ of array 2.Next line contains n space separated numbers and third line contains ‘m’ space separated numbers

Output Description:
Print a single array in desired order

In [ ]:
arr0 = list(map(int, input().split()))
arr1 = list(map(int, input().split()))
arr2 = list(map(int, input().split()))
arr1.sort()
arr2.sort(reverse = True)

3 3
23 15 16
357 65 10

In [ ]:
print(*(arr1+arr2), sep = " ")

15 16 23 357 65 10

you are given with array of numbers.you have to find whether array is beautiful or not. A beautiful array is an array whose sum of all numbers is divisible by 2, 3 and 5

Input Description:
You are given a number ‘n’ denoting the size of array.Next line contains n space separated numbers.

Output Description:
Print 1 if array is beautiful and 0 if it is not

In [ ]:
arr0 = list(map(int, input().split()))
arr1 = list(map(int, input().split()))
total = 0
for i in arr1:
  total += i

if (total%2==0) and (total%3==0) and (total%5==0):
  print("1")
else:
  print("0")

5
5 25 35 -5 30
1

In [ ]:
arr0 = list(map(int, input().split()))
arr1 = list(map(int, input().split()))
pointer1 = arr[0]
count1 = count2 = num1 = num2 = pointer2 = 0
for i in arr1:
  if (i==pointer1):
    count1 += 1
    num1 = i
  else:
    i = pointer2
    count2 += 1
    num2 = i
if count1 == 2:
  print(num1)
else:
  print(num2)

5
13 13 13 12 12
0

You are provided with an array in which all elements are repeated thrice except one which is repeated twice.Your task is to print that number.

 

O(n) time and O(1) extra space

Input Description:
First line contains a number denoting size of array ‘n’.Next line contains n space separated numbers

Output Description:
Print the number which is repeated twice

In [ ]:
arr0 = list(map(int, input().split()))
arr1 = list(map(int, input().split()))
arr2 = []
for i in arr1:
  if arr1.count(i)==2:
    print(i)
    break

5
13 12 13 13 12
12

In [ ]:
arr0 = list(map(int, input().split()))
arr1 = list(map(int, input().split()))
import collections
counts = collections.Counter(arr1)
new_list = sorted(arr1, key=counts.get, reverse=True)
print(new_list)

3
1 1 2 3
[1, 1, 2, 3]

In [ ]:
def find_next_smaller_elements(xs):
    ys=[-1 for x in x
        print(ys)

Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000

In [ ]:
A = int(input())
sum = 0
if (A <= 100000):
  for i in range(1,A+1):
    sum = sum + i
print(sum)

4
10

Given a number N, print 'yes' if it is composite else print 'no'.

composite number

In [ ]:
c = int(input())
count = 0
for i in range(1,c):
  if (c%i == 0):
    count += 1
if count>2:
  print("yes")
else:
  print("no")

73
no

finding prime number

In [ ]:
c = int(input())
count = 0
for i in range(1,c):
  if (c%i == 0):
    count += 1
if count<2:
  print("yes")
else:
  print("no")

87
no

In [ ]:
arr1 = list(map(int, input().split()))
print(min(arr1))

1 2 3 4 5
1

In [ ]:
def minimum (A=[]):
  return min(A)

In [ ]:
A = list(map(int, input().split()))

1 2 3 4 5 6

In [ ]:
minimum(A)

1

Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.

In [ ]:
N = int(input())
L , R = list(map(int, input().split()))
if (L>N>R) or (R>N>L):
  print("yes")
else:
  print("no")

2
1 3
yes

Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.

In [ ]:
N , M = list(map(int, input().split()))
P = (N+M)
if P%2 == 0:
  print("even")
else:
  print("odd")

9 2
odd

In [ ]:
N , K = list(map(int, input().split()))
arr1 = list(map(int, input().split()))
if K in arr1:
  print("yes")
else:
  print("no")

1 2
2 2 3 4
yes

Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.

In [ ]:
import numpy as np

N , M = list(map(int, input().split()))
P = N*M
Z = np.sqrt(P)
if (Z%1 == 0):
  print("yes")
else:
  print("no")

5 5
yes

Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50

In [ ]:
N,M = list(map(int,input().split()))
print(N**M)

3 4
81

In [ ]:
arr1 = list(map(int,input().split()))
  
print(arr1)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [ ]:
from IPython.core.display import JSON
temp = 0
for i in arr1:
  for j in arr1:
    temp = i
    i = j
    j = temp
    
print(arr1)

[1, 2, 3, 4, 5, 6]

In [ ]:
B, H  = list(map(int,input().split()))

area = (B*H)/2

print((area))

2 4
4.0

In [ ]:
A, B, C = list(map(int,input().split()))

if A == B or B == C or C == A:
  print("no")
else:
  print("yes")

3 4 4
no

In [ ]:
print("There are"+" "+str(int((4.25+4.75**5/2)/100))+" "+"students in the class")

There are 12 students in the class

In [ ]:
import re

myString = "guvigeekchennai"

 

matchResults = re.match("geek", myString)

searchResults = re.search("geek", myString)

 

print(matchResults == None)

print(searchResults == None)

True
False

In [ ]:
tup = ("computer", "monitor", "cpu")
it = iter(tup)
while(print(next(it))):
    pass

computer

In [ ]:
def validate():
    s = list('987654')
    s[1] = s[-1] = 1
    return int(s[1])+int(s[3])
validate()

7

In [ ]:
import math
help(math.gcd)

Help on built-in function gcd in module math:

gcd(x, y, /)
    greatest common divisor of x and y

GCD of two numbers

In [ ]:
N,M = list(map(int,input().split()))
if N == 0 or M == 0:
  print(-1)
else:
  print(math.gcd(N,M))

10 5
5

In [ ]:
N,K = list(map(int,input().split()))
M = list(map(int,input().split()))
J = []
for i in M:
  if i == K:
    J.append(i)


if len(J)>2:
  print(len(J)-1)
elif len(J)<2 and len(J)>0:
  print(0)
else:
  print(-1)

6 2
1 3 2 5 7 8
0

In [ ]:
d,f = list(map(int,input().split()))

if (d > f):
  small = f
else:
  small = d
for i in range(1, small+1):
  if ((d%i == 0)) and (f%i == 0):
    hcf = i

print(hcf)

2 6
2

In [ ]:
M = list(map(int,input().split()))
arr1 = list(map(int, input().split()))
total = 0
for i in arr1:
  total += i

print(total)

2
4 6
10

given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
Input Size : A,B,C <= 100000

In [ ]:
M,N,P = list(map(int,input().split()))

if (M+N <= P) or (P+N <= M) or (M+P <= N):
  print("no")
else:
  print("yes")

3 4 1
no

addition without carry

In [ ]:
import math
n1,n2= list(map(int,input().split()))
result = 0
x = 1;
while (n1 > 0 and n2 > 0):
  result += x * ((n1 + n2) % 10)
  n1 = math.floor(n1 / 10)
  n2 = math.floor(n2 / 10)
  x*= 10;
    

print(result)

44 66
0

In [ ]:
A,B,C = list(map(int,input().split()))

if A**2 + B**2 == C**2:
  print("yes")
else:
  print("no")

3 4 5
yes

BITWISE NOT

In [ ]:
a = int(input())
print(~a)

5
-6

ROCK PAPER SCISSOR

In [ ]:
M,N = list(map(str,input().split()))
if (M=="R" and N=="P") or (N=="R" and M=="P"):
  print("P")
elif (M=="S" and N=="P") or (M=="P" and N=="S"):
  print("S")
elif (M=="R" and N=="S") or (M=="S" and N=="R"):
  print("R")
else:
  print("D")

R R
D

Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
M = input()
arr = list(M)
newarr = []
for n in range(0,len(arr)-1,2):
  i = arr[n]
  j = arr[n+1]
  newarr.extend([j,i])
res = ''.join(str(i) for i in newarr)

print(res)

abc
ba

find index of smallest and largest number in the array

In [ ]:
arr = list(map(int,input().split()))
arr = list(map(int,input().split()))
arr1 = []
for n in range(len(arr)):
  if(arr[n]==min(arr)):
    arr1.append(n+1)
for n in range(len(arr)):
  if(arr[n]==max(arr)):
    arr1.append(n+1)

print(*arr1, end = "")

1
2 3
1 2

Given a list of N coins, their values (V1, V2, … , VN), and the total sum S. Find the minimum number of coins the sum of which is S (we can use as many coins of one type as we want), if it is not possible to select coins in such a way that they sum up to S then print '-1'.
Example: Given coins with values 1, 3, and 5. And the sum S is 11.
Output: 3, 2 coins of 3 and 1 coin of 5
Input Size : N<=10000
Example:
INPUT
3 11
1 3 5
OUTPUT
3

In [ ]:
list_of_coins, total_value = list(map(int,input().split()))
value_of_coins = list(map(int,input().split()))

In [ ]:
i=org=4
count=0
total=15


print(i)
print(count)

16
4

In [ ]:
i=org=4
count=0
total=15
while(i<total):
  count +=1
  i = org*count
  

print(i)
print(count)

16
4

In [ ]:
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]

s = input()

r = (reverse(s))

print(r.capitalize())

NITIN
Nitin

In [ ]:
d = input()

re = (d[::-1])

print(re.capitalize())

asdfg
Gfdsa

You are given a string.Your task is to print only the consonants present in the string without affecting the sentence spacings if present. If no consonants are present print -1

In [ ]:
st = input().lower()
for i in st:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" :
    st = st.replace(i,"")

print(st)

welcome
wlcm

check for palindrome sequence

In [ ]:
d = input()

re = (d[::-1])

if d == re:
  print(1)
else:
  print(0)

nitin
1

you are given a string made up of parenthesis only.Your task is to check whether parenthesis are balanced or not.If they are balanced print 1 else print 0

In [ ]:
p = input()
ar = 0
ar1 = 0
ar2 = 0
for i in p:
  if i == "(":
    ar+=1
  elif i == ")":
    ar-=1
  elif i == "[":
    ar+=1
  elif i == "]":
    ar-=1
  elif i=="{":
    ar+=1
  elif i == "}":
    ar-=1

if ar == 0:
  print(1)
else:
  print(0)

{{}}[]()
1

remove repeating characters from string

In [ ]:
word = input()
chararr = list(word)
for x in chararr:
  if (word.count(x)==1):
    print(*x,end="")
   
 #   newword= word.replace(x,"")
# print(newword)
# print(chararr)

133331


removing duplicates from string

In [ ]:
charc = input()
from collections import OrderedDict
print("".join(OrderedDict.fromkeys(charc)))

33113
31

In [ ]:
num = list(map(int,input().split()))
temp = []
final = []
for i in num[1:]:
  if i != temp:
    final += i
    temp = i

print(final)

1331
[]

In [ ]:
print(*num, end ="")
print(res)

1331

In [ ]:
s="133221112"
def removeConsecutiveDuplicates(s):
    if len(s)<2:
        return s
    if s[0]!=s[1]:
        return s[0]+removeConsecutiveDuplicates(s[1:])
    return removeConsecutiveDuplicates(s[1:])

#s = input()
print(removeConsecutiveDuplicates(s))

13212

In [ ]:
word = input()
c_arr = list(word)
for x in c_arr:
  if (word.count(x)==1):
    print(*x,end="")

1331

In [ ]:
numbers = list(map(int,input().split()))
import itertools
for (key,group) in itertools.groupby(numbers):
    print (key,list(group))

133311
133311 [133311]

Given a string 'S' print the sum of weight of the String. A weight of character is defined as the ASCII value of corresponding character.

Input Description:
You are given a string ‘s’

Output Description:
Print weight

In [ ]:
wor = input()
fig = 0
for i in wor:
  fig+=ord(i)

print(fig)

abc
294

In [ ]:
wor = input()
c = len(wor)
m = 0
n = 0
if c%2!=0:
  m = round(c/2)
  new = wor.replace(wor[m],"*")
elif c%2==0:
  m = round(c/2)
  new = wor.replace(wor[m],"*")
  n = round(m-1)
  new = wor.replace(wor[n],"*")

print(new)

asdfgh
3 0
asd*gh

In [ ]:
st = input().lower()
s = 0
for i in st:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" :
    s += 1
    print("yes")
    break
if s==0:
  print("no")

cmd
no

You are given with a string which comprises of some numbers. Your task is to find the largest integer by converting the string to the corresponding integer.

Input Description:
First line contains n denoting number of Test Cases. The first and only Line of testcase has the string

Output Description:
Print the largest number

In [ ]:
l = input()
b = l.replace(".","")

line = list(b.split())
a = []
for i in line:
  if i.isdigit():
    a.append(i)

c = list(map(int,a))
print(max(c))

You are given a paragraph 25
25

You are given a paragraph.Your task is to print the words that come just after articles.

Input Description:
You are given a string ‘s’

Output Description:
print the words that come just after articles and -1 if there are no articles

In [ ]:
para = input().lower()
line = list(para.split())
length = len(line)
a = []
for i in range(length):
  if (line[i] == "the" or line[i]=="a"):
    a.append(line[i+1])
 

print(*a,end="")

the dog barks
dog