Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

In [16]:
A,N= [int(i) for i in input().split()]


for i in range (1, N+1):
  print(A)

2 4
2
2
2
2

You are provided with two numbers. Find and print the smaller number.

Input Description:
You are provided with two numbers as input.

Output Description:
Print the small number out of the two numbers.

In [19]:
A,N= [int(i) for i in input().split()]

print(N) if N < A else print(A)

2 3
2

Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

In [28]:
N =int(input())
for i in range(N,0,-1):
  print(i)

5
5
4
3
2
1

Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

In [52]:
N = int(input())
arr = [int(i) for i in str(N)]
print(arr)
bal = []
for x in arr:
  if (x%2==0):
    print(x,end=" ")
  else:
    bal.append(x)
print(

12345
[1, 2, 3, 4, 5]
2 4 [1, 3, 5]

In [56]:
N = int(input())
arr = [int(i) for i in str(N)]
print(arr)
even =[]
odd = []
for i in range(1, len(arr)):
  if (arr%2) == 0:
    even.append(i)
  else:
    odd.append(i)

print(even)
print(odd)

12345
[1, 2, 3, 4, 5]

TypeError: ignored

converting fahrenheit to celscius

In [58]:
temp = 5
cel = 0
fahr = float(temp)
cel = (fahr - 32.0) * 5.0 / 9.0
print(cel)

-15.0