Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

In [ ]:
A,N= [int(i) for i in input().split()]
B,O= [int(i) for i in input().split()]
C,P= [int(i) for i in input().split()]

print(A,N)
print(B,O)
print(C,P)

1 2
2 4
3 6
1 2
2 4
3 6

Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

In [ ]:
a = int(input())
b = int(input())
c = int(input())

print(a, b, c)

1
2
3
1 2 3

Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

In [ ]:
A,N= [int(i) for i in input().split()]
B,O,X= [int(i) for i in input().split()]
C,P,Y= [int(i) for i in input().split()]

print(A,N)
print(B,O,X)
print(C,P,Y)

1 2
2 4 6
2 5 6
1 2
2 4 6
2 5 6

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

In [ ]:
A = input()
print(" ".join(A))

anan
a n a n

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

In [ ]:
A,N,X= [float(i) for i in input().split()]
print(A)
print(N)
print(X)

1.0 2.0 3.0
1.0
2.0
3.0

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

In [ ]:
A=input()
l=list(A)
for i in l:
  print(i)

geek
g
e
e
k

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

In [ ]:
A=input()

print(",".join(A))

geeek
g,e,e,e,k

In [ ]:
A,N= [int(i) for i in input().split()]
B = [int(i) for i in input().split()]

print(A,N)
print(B)

2 5
7
2 5
[7]

You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

In [ ]:
m = int(input())
if (m == 1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12 ):
  print("31")
elif(m==2):
  print("28")
elif(m==4 or m==6 or m==9 or m==11):
  print("30")
else:
  print("Error")

25
Error

You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

In [ ]:
A = int(input())
print(A*1000)
print(A*100000)

5
5000
500000

You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

In [ ]:
A,N,X= [float(i) for i in input().split()]
SI=float(A*X*N/100)
print(SI)

2 5 100
10.0

You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

In [ ]:
A = int(input())
B = int(input())
C = A*B
print(C)

2
3
6

Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

In [ ]:
number = int(input())
result = 0
while (number>0):
  Remainder  = (number%10)
  result = result + Remainder
  number = int(number/10)
print(result)

123
6

Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

In [ ]:
string = input()
print(string[::-1])

asdfg
gfdsa

write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

In [ ]:
N = int(input())
L = []
for i in range(1,N+1):
  L.append(i)

print(sum(L))

3
6

Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

In [ ]:
N = int(input())
arr = [int(i) for i in str(N)]

even=[]
odd=[]

for i in arr:
  A = (i%2)
  if A == 0:
    even.append(i)
  else:
    odd.append(i)
even.sort()
odd.sort()

print(*even, sep=" ")
print(*odd, sep = " ")

2254352
2 2 2 4
3 5 5

In [ ]:
A = input()
print(len(A.replace(" ","")))

anu r
4

Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space

In [ ]:
N = int(input())
arr = [int(i) for i in str(N)]
print(*arr, sep = " ")

123
1 2 3

Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

In [ ]:
N = int(input())
for i in range(1,N+1):
  if (i%2 == 0):
    print(i)

8
2
4
6
8

Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

In [ ]:
N = int(input())
for i in range(1,N+1):
    print(i)

5
1
2
3
4
5